body {
  margin: 0;
  padding: 0;
}

.header__top-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 20px 0px;
}

.search {
  border: none;
}

.search:focus {
  padding: 5px;
  outline: none;
  background-color: #ade1c5;
  border-radius: 10px;
}

.navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.header__right-logo:not(:last-child) {
  margin-right: 15px;
}

.nav {
  margin: 10px 0px;
}

.nav-item {
  text-decoration: none;
  color: black;
  padding: 0px 7px;
  text-transform: uppercase;
  font-size: 11px;
  font-family: "Roboto", sans-serif;
}

.nav-item:hover {
  background-color: #ade1c5;
  padding-bottom: 33px;
  border-radius: 15px;
  padding-top: 20px;
}

.header-hr {
  border: none;
  background-color: lightgrey;
  height: 0.5px;
}

.banner {
  background-color: #ade1c5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 70vh;
}

.banner-img {
  height: 400px;
  position: absolute;
  left: 55%;
}

.banner__top-left {
  font-family: "Alex Brush", cursive;
  font-size: 50px;
  font-weight: bold;
  margin-right: 10px;
}

.banner__top-right {
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.banner__middle-header {
  font-family: "Titillium Web", sans-serif;
  font-size: 72px;
  margin-top: -20px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.banner__middle {
  display: flex;
}

.banner__middle-price {
  margin-top: -10px;
  margin-left: 20px;
  font-size: 24px;
}

.shop-now {
  color: black;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

.shop-now:hover {
  color: white;
}

.products {
  background-color: #e6e6e6;
  min-height: 100vh;
  padding: 50px 0;
}

.products__nav {
  display: flex;
  justify-content: space-between;
  width: 84.65%;
  margin: 0px auto;
  border-bottom: 0.5px solid lightgrey;
  margin-bottom: 50px;
  padding-bottom: 10px;
  padding-top: 50px;
  text-transform: uppercase;
}

.products__nav__right-input {
  border: none;
  background-color: inherit;
}

.products__nav__left-item {
  padding-left: 10px;
  text-decoration: none;
  color: grey;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 11px;
}

.products__nav__left-item:hover {
  color: black;
}

.products__nav__right-input:focus {
  padding: 5px;
  outline: none;
  background-color: #ade1c5;
  border-radius: 10px;
}

.background {
  background-color: pink;
  width: 270px;
  height: 260px;
  position: relative;
}

.products__main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.products__main-card {
  display: flex;
  width: 360px;
  height: 510px;
  background-color: white;
  justify-content: space-between;
  flex-direction: column;
}

.products__main-card:not(:nth-child(3n)) {
  margin-right: 30px;
}

.products__main-card:nth-child(-n+3) {
  margin-bottom: 30px;
}

.products__main-card__wrapper {
  display: flex;
}

.products__main-header {
  text-transform: capitalize;
  margin: 0;
  font-family: "TitilliumWeb", sans-serif;
  font-weight: 300;
}

.products__main-card-left {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.products__main-card-right {
  text-align: center;
}

.products__main-card-left-logo {
  margin-top: 25px;
}

.background-accent {
  top: 70%;
  left: -9%;
  padding: 15px 10px;
  border-radius: 50%;
  background-color: #8ed1b7;
  position: absolute;
  color: white;
}

.products__main-price_new {
  font-weight: bold;
}

.products__main-price_old {
  text-decoration: line-through;
  color: lightgrey;
}

.background-img {
  height: 100%;
  width: 100.4%;
}

.hot {
  background-color: pink;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  margin: 30px 0px;
}

.products__main__footer-text {
  text-transform: uppercase;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.products__main__footer-link {
  text-decoration: none;
}

.products__main__footer-link:hover {
  background-color: red;
  padding: 9px;
  border-radius: 10px;
}

.hr {
  width: 80%;
  border: none;
  background-color: lightgrey;
  height: 0.5px;
}

.feature {
  height: 100vh;
  display: flex;
}

.feature__right-column {
  background-color: #8ed1b7;
}

.feature__left-column {
  height: 100vh;
  align-self: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
  position: relative;
}

.box-header {
  font-size: 10vw;
  text-transform: uppercase;
  font-weight: lighter;
  color: #86c5ac;
  text-align: right;
}

.product-name {
  font-size: 12px;
  text-transform: uppercase;
  color: white;
}

.feature_price_new {
  padding: 65px 30px;
  border-radius: 50%;
  font-size: 45px;
  color: white;
  background-color: pink;
  z-index: 9999;
  font-family: "Robot", sans-serif;
  font-weight: 300;
}

.feature-price {
  position: absolute;
  bottom: 40%;
  right: 15%;
}

.feature_price_old {
  text-decoration: line-through;
  font-size: 20px;
  position: absolute;
  top: -30%;
  right: 20%;
}

.feature__box {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  font-family: "Roboto", sans-serif;
}

.short-describe {
  text-transform: capitalize;
  font-size: 23px;
  font-weight: 600;
  font-family: "TitilliumWeb", sans-serif;
}

.extended-description {
  color: white;
}

.buy {
  color: white;
  text-transform: uppercase;
}

.buy:hover {
  color: black;
}

.box-header {
  margin: 30px 0;
}

.box-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 23px;
  letter-spacing: 25px;
  text-align: center;
}

.benefits {
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-color: #1d1e24;
}

.benefit {
  width: 100%;
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.benefit:nth-child(even) {
  background-color: #202127;
}

.benefit-header {
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "TitilliumWeb", sans-serif;
  letter-spacing: 1px;
}

.benefit-text {
  color: #c4c4c5;
  font-family: "Robot", sans-serif;
  font-weight: 300;
}

.footer {
  display: flex;
  flex-direction: column;
  height: 500px;
  position: relative;
  font-family: "Roboto", sans-serif;
}

.footer__low-wrapper {
  display: flex;
  justify-content: space-around;
  width: 80vw;
  margin: 3% auto;
}

.first-column, .second-column, .third-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
}

.read-more {
  text-decoration: none;
  color: black;
  transition-duration: 1s;
}

.more {
  transition-duration: 0.4s;
}

.read-more:hover .more {
  letter-spacing: 2px;
  color: red;
  transition-duration: 0.4s;
}

.second-column, .third-column {
  margin-left: 50px;
}

.Usefull-links {
  width: 100%;
  text-align: left;
  font-family: "TitilliumWeb", sans-serif;
}

.links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
  height: 200px;
  padding: 0;
}

.link {
  margin-top: 10px;
  list-style-image: url("../images/double.png");
  text-decoration: none;
  color: black;
}

.link:hover {
  color: green;
}

.insta-header {
  margin-bottom: 50px;
  font-family: "TitilliumWeb", sans-serif;
}

.insta-grid {
  grid-gap: 5px;
  display: grid;
  grid-template-columns: 90px 90px 90px 90px;
  grid-template-rows: 90px 90px;
}

.footer-basement {
  display: flex;
  justify-content: space-between;
  margin: 3% 10%;
  height: 100%;
  align-items: flex-end;
}

.footer-card {
  height: 17px;
}

.footer-hr {
  position: absolute;
  bottom: 12%;
  width: 100%;
  border: none;
  background-color: lightgrey;
  height: 1px;
}

@media screen and (max-width: 1200px) {
  .products__main-card:nth-child(n+1) {
    margin-left: 20px;
    margin-right: 0;
    margin-bottom: 30px;
    height: 390px;
    width: 350px;
  }
}
@media screen and (max-width: 1000px) {
  .footer__low-wrapper {
    flex-wrap: wrap;
  }

  .footer-hr {
    bottom: -50%;
  }

  .first-column, .second-column, .third-column {
    margin: 0;
    flex-grow: 0;
  }

  .first-column {
    text-align: center;
  }

  .main-logo {
    margin: 0 auto;
  }

  .banner {
    height: auto;
  }

  .banner-img {
    height: 120px;
    left: 80%;
  }

  .banner__middle-header {
    font-size: 42px;
  }

  .products__nav {
    display: block;
  }

  .feature-img {
    width: 300px;
  }
}
@media screen and (max-width: 750px) {
  .feature-img {
    width: 200px;
  }

  .feature_price_new {
    padding: 45px 15px;
  }

  .box-header {
    font-size: 9vw;
    text-align: center;
  }

  .benefits {
    display: block;
  }

  .benefit {
    padding: 10px 0px;
  }
}
@media screen and (max-width: 550px) {
  .background {
    width: 200px;
    height: 170px;
  }

  .banner-img {
    display: none;
  }

  .products__main-card:nth-child(n+1) {
    height: 315px;
    width: 300px;
  }

  .box-header {
    font-size: 8vw;
  }

  .feature__box {
    display: block;
  }

  .extended-description {
    margin: 0;
  }

  .feature-img {
    width: 160px;
  }

  .header__right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 400px) {
  .feature__box {
    padding-left: 15px;
  }
}

/*# sourceMappingURL=index.css.map */
